.margin-top {
  &--10 {
    margin-top: 10px;
  }
  
  &--20 {
    margin-top: 20px;
  }

  &--40 {
    margin-top: 40px;
  }
}

.margin-bottom {
  &--10 {
    margin-bottom: 10px;
  }

  &--20 {
    margin-bottom: 20px;
  }

  &--40 {
    margin-bottom: 40px;
  }

  &--xxxl {
    margin-bottom: $space--xxxl--mbl;
    
    @media screen and (min-width: $break--tblt) {
      margin-bottom: $space--xxxl--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      margin-bottom: $space--xxxl--dsktp;
    }
  }

  &--xxl {
    margin-bottom: $space--xxl--mbl;
    
    @media screen and (min-width: $break--tblt) {
      margin-bottom: $space--xxl--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      margin-bottom: $space--xxl--dsktp;
    }
  }

  &--xl {
    margin-bottom: $space--xl--mbl;
    
    @media screen and (min-width: $break--tblt) {
      margin-bottom: $space--xl--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      margin-bottom: $space--xl--dsktp;
    }
  }

  &--l {
    margin-bottom: $space--l--mbl;
    
    @media screen and (min-width: $break--tblt) {
      margin-bottom: $space--l--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      margin-bottom: $space--l--dsktp;
    }
  }

  &--m {
    margin-bottom: $space--m--mbl;
    
    @media screen and (min-width: $break--tblt) {
      margin-bottom: $space--m--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      margin-bottom: $space--m--dsktp;
    }
  }

  &--s {
    margin-bottom: $space--s--mbl;
    
    @media screen and (min-width: $break--tblt) {
      margin-bottom: $space--s--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      margin-bottom: $space--s--dsktp;
    }
  }

  &--xs {
    margin-bottom: $space--xs--mbl;
    
    @media screen and (min-width: $break--tblt) {
      margin-bottom: $space--xs--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      margin-bottom: $space--xs--dsktp;
    }
  }

  &--xxs {
    margin-bottom: $space--xxs--mbl;
    
    @media screen and (min-width: $break--tblt) {
      margin-bottom: $space--xxs--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      margin-bottom: $space--xxs--dsktp;
    }
  }

  &--xxxs {
    margin-bottom: $space--xxxs--mbl;
    
    @media screen and (min-width: $break--tblt) {
      margin-bottom: $space--xxxs--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      margin-bottom: $space--xxxs--dsktp;
    }
  }

  &--5 {
    margin-bottom: $space--utility--5;
  }

  &--10 {
    margin-bottom: $space--utility--10;
  }

  &--15 {
    margin-bottom: $space--utility--15;
  }

  &--20 {
    margin-bottom: $space--utility--20;
  }

  &--25 {
    margin-bottom: $space--utility--25;
  }

  &--30 {
    margin-bottom: $space--utility--30;
  }

  &--35 {
    margin-bottom: $space--utility--35;
  }

  &--40 {
    margin-bottom: $space--utility--40;
  }

  &--45 {
    margin-bottom: $space--utility--45;
  }

  &--50 {
    margin-bottom: $space--utility--50;
  }

  &--75 {
    margin-bottom: $space--utility--75;
  }

  &--100 {
    margin-bottom: $space--utility--100;
  }
}

.padding-top {
  &--xxxl {
    padding-top: $space--xxxl--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--xxxl--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--xxxl--dsktp;
    }
  }

  &--xxl {
    padding-top: $space--xxl--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--xxl--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--xxl--dsktp;
    }
  }

  &--xl {
    padding-top: $space--xl--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--xl--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--xl--dsktp;
    }
  }

  &--l {
    padding-top: $space--l--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--l--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--l--dsktp;
    }
  }

  &--m {
    padding-top: $space--m--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--m--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--m--dsktp;
    }
  }

  &--s {
    padding-top: $space--s--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--s--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--s--dsktp;
    }
  }

  &--xs {
    padding-top: $space--xs--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--xs--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--xs--dsktp;
    }
  }

  &--xxs {
    padding-top: $space--xxs--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--xxs--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--xxs--dsktp;
    }
  }

  &--xxxs {
    padding-top: $space--xxxs--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--xxxs--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--xxxs--dsktp;
    }
  }
}

.padding-bottom {
  &--xxxl {
    padding-bottom: $space--xxxl--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-bottom: $space--xxxl--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-bottom: $space--xxxl--dsktp;
    }
  }

  &--xxl {
    padding-bottom: $space--xxl--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-bottom: $space--xxl--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-bottom: $space--xxl--dsktp;
    }
  }

  &--xl {
    padding-bottom: $space--xl--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-bottom: $space--xl--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-bottom: $space--xl--dsktp;
    }
  }

  &--l {
    padding-bottom: $space--l--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-bottom: $space--l--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-bottom: $space--l--dsktp;
    }
  }

  &--m {
    padding-bottom: $space--m--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-bottom: $space--m--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-bottom: $space--m--dsktp;
    }
  }

  &--s {
    padding-bottom: $space--s--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-bottom: $space--s--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-bottom: $space--s--dsktp;
    }
  }

  &--xs {
    padding-bottom: $space--xs--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-bottom: $space--xs--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-bottom: $space--xs--dsktp;
    }
  }

  &--xxs {
    padding-bottom: $space--xxs--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-bottom: $space--xxs--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-bottom: $space--xxs--dsktp;
    }
  }

  &--xxxs {
    padding-bottom: $space--xxxs--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-bottom: $space--xxxs--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-bottom: $space--xxxs--dsktp;
    }
  }
}

.padding-both {
  &--xxxl {
    padding-top: $space--xxxl--mbl;
    padding-bottom: $space--xxxl--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--xxxl--tblt;
      padding-bottom: $space--xxxl--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--xxxl--dsktp;
      padding-bottom: $space--xxxl--dsktp;
    }
  }

  &--xxl {
    padding-top: $space--xxl--mbl;
    padding-bottom: $space--xxl--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--xxl--tblt;
      padding-bottom: $space--xxl--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--xxl--dsktp;
      padding-bottom: $space--xxl--dsktp;
    }
  }

  &--xl {
    padding-top: $space--xl--mbl;
    padding-bottom: $space--xl--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--xl--tblt;
      padding-bottom: $space--xl--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--xl--dsktp;
      padding-bottom: $space--xl--dsktp;
    }
  }

  &--l {
    padding-top: $space--l--mbl;
    padding-bottom: $space--l--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--l--tblt;
      padding-bottom: $space--l--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--l--dsktp;
      padding-bottom: $space--l--dsktp;
    }
  }

  &--m {
    padding-top: $space--m--mbl;
    padding-bottom: $space--m--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--m--tblt;
      padding-bottom: $space--m--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--m--dsktp;
      padding-bottom: $space--m--dsktp;
    }
  }

  &--s {
    padding-top: $space--s--mbl;
    padding-bottom: $space--s--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--s--tblt;
      padding-bottom: $space--s--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--s--dsktp;
      padding-bottom: $space--s--dsktp;
    }
  }

  &--xs {
    padding-top: $space--xs--mbl;
    padding-bottom: $space--xs--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--xs--tblt;
      padding-bottom: $space--xs--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--xs--dsktp;
      padding-bottom: $space--xs--dsktp;
    }
  }

  &--xxs {
    padding-top: $space--xxs--mbl;
    padding-bottom: $space--xxs--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--xxs--tblt;
      padding-bottom: $space--xxs--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--xxs--dsktp;
      padding-bottom: $space--xxs--dsktp;
    }
  }

  &--xxxs {
    padding-top: $space--xxxs--mbl;
    padding-bottom: $space--xxxs--mbl;
    
    @media screen and (min-width: $break--tblt) {
      padding-top: $space--xxxs--tblt;
      padding-bottom: $space--xxxs--tblt;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-top: $space--xxxs--dsktp;
      padding-bottom: $space--xxxs--dsktp;
    }
  }

  &--20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}



.gutters {
  padding-right: $gutter--mbl;
  padding-left: $gutter--mbl;
  box-sizing: border-box;

  @media screen and (min-width: $break--tblt) {
    padding-right: $gutter--tblt;
    padding-left: $gutter--tblt;
  }

  @media screen and (min-width: $break--dsktp) {
    padding-right: $gutter--dsktp;
    padding-left: $gutter--dsktp;
  }

  &--half {
    padding-right: $gutter--mbl--half;
    padding-left: $gutter--mbl--half;
    box-sizing: border-box;
  
    @media screen and (min-width: $break--tblt) {
      padding-right: $gutter--tblt--half;
      padding-left: $gutter--tblt--half;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-right: $gutter--dsktp--half;
      padding-left: $gutter--dsktp--half;
    }
  }

  &--half-tblt {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    @media screen and (min-width: $break--tblt) {
      padding-right: $gutter--tblt--half;
      padding-left: $gutter--tblt--half;
    }
  }
}

.gutter--left {
  padding-left: $gutter--mbl;
  box-sizing: border-box;

  @media screen and (min-width: $break--tblt) {
    padding-left: $gutter--tblt;
  }

  @media screen and (min-width: $break--dsktp) {
    padding-left: $gutter--dsktp;
  }

  &--half {
    padding-left: $gutter--mbl--half;
    box-sizing: border-box;
  
    @media screen and (min-width: $break--tblt) {
      padding-left: $gutter--tblt--half;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-left: $gutter--dsktp--half;
    }
  }
}

.gutter--right {
  padding-right: $gutter--mbl;
  box-sizing: border-box;

  @media screen and (min-width: $break--tblt) {
    padding-right: $gutter--tblt;
  }

  @media screen and (min-width: $break--dsktp) {
    padding-right: $gutter--dsktp;
  }

  &--half {
    padding-right: $gutter--mbl--half;
    box-sizing: border-box;
  
    @media screen and (min-width: $break--tblt) {
      padding-right: $gutter--tblt--half;
    }
  
    @media screen and (min-width: $break--dsktp) {
      padding-right: $gutter--dsktp--half;
    }
  }
}

.margin-auto {
  margin: auto;
}

.margin-none {
  padding: 0;
}

.padding-none {
  padding: 0;
}
