<div class="page-pattern-library__container container--l gutters">
  <h1 class="page-pattern-library__heading type--xxl padding-top--s margin-bottom--xl color--white color--primary">
    Pattern<br>
    Library
  </h1 >
  <section class="page-pattern-library__section gutters">
    <h2 class="page-pattern-library__section-heading type--l margin-bottom--xl">
      🎨 Colors
    </h2>
    <section class="page-pattern-library__pallete flex flex--no-padding container--m margin-bottom--xl padding-bottom--xl margin-bottom--xl">
      <div class="page-pattern-library__color-swatch bg--primary"></div>
      <div class="page-pattern-library__color-swatch bg--secondary"></div>
      <div class="page-pattern-library__color-swatch bg--white"></div>
      <div class="page-pattern-library__color-swatch bg--type"></div>
      <div class="page-pattern-library__color-swatch bg--black"></div>
      <div class="page-pattern-library__color-swatch--sm bg--primary--lightest"></div>
      <div class="page-pattern-library__color-swatch--sm bg--primary--lighter"></div>
      <div class="page-pattern-library__color-swatch--sm bg--primary--light"></div>
      <div class="page-pattern-library__color-swatch--sm bg--primary"></div>
      <div class="page-pattern-library__color-swatch--sm bg--primary--dark"></div>
      <div class="page-pattern-library__color-swatch--sm bg--primary--darker"></div>
      <div class="page-pattern-library__color-swatch--sm bg--primary--darkest"></div>
      <div class="page-pattern-library__color-swatch bg--primary--10"></div>
      <div class="page-pattern-library__color-swatch bg--primary--20"></div>
      <div class="page-pattern-library__color-swatch bg--primary--50"></div>
      <div class="page-pattern-library__color-swatch bg--primary--80"></div>
      <div class="page-pattern-library__color-swatch bg--primary"></div>
      <div class="page-pattern-library__color-swatch--sm bg--secondary--lightest"></div>
      <div class="page-pattern-library__color-swatch--sm bg--secondary--lighter"></div>
      <div class="page-pattern-library__color-swatch--sm bg--secondary--light"></div>
      <div class="page-pattern-library__color-swatch--sm bg--secondary"></div>
      <div class="page-pattern-library__color-swatch--sm bg--secondary--dark"></div>
      <div class="page-pattern-library__color-swatch--sm bg--secondary--darker"></div>
      <div class="page-pattern-library__color-swatch--sm bg--secondary--darkest"></div>
      <div class="page-pattern-library__color-swatch bg--secondary--10"></div>
      <div class="page-pattern-library__color-swatch bg--secondary--20"></div>
      <div class="page-pattern-library__color-swatch bg--secondary--50"></div>
      <div class="page-pattern-library__color-swatch bg--secondary--80"></div>
      <div class="page-pattern-library__color-swatch bg--secondary"></div>
      <div class="page-pattern-library__color-swatch bg--white--10"></div>
      <div class="page-pattern-library__color-swatch bg--white--20"></div>
      <div class="page-pattern-library__color-swatch bg--white--50"></div>
      <div class="page-pattern-library__color-swatch bg--white--80"></div>
      <div class="page-pattern-library__color-swatch bg--white"></div>
      <div class="page-pattern-library__color-swatch bg--black--10"></div>
      <div class="page-pattern-library__color-swatch bg--black--20"></div>
      <div class="page-pattern-library__color-swatch bg--black--50"></div>
      <div class="page-pattern-library__color-swatch bg--black--80"></div>
      <div class="page-pattern-library__color-swatch bg--black"></div>
    </section>
  </section>
  <section class="page-pattern-library__section gutters">
    <h2 class="page-pattern-library__section-heading type--l margin-bottom--xl">
      📰 Typestyles
    </h2>
    <section class="page-pattern-library__subsection container--m margin-bottom--xl">
      <h1>H1  New Collection</h1>
      <h2>H2  Lets get into it...</h2>
      <h3>H3  Checkout Something Special</h3>
      <h4>H4  Heres what our friends had to say out us:</h4>
      <p>P  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras malesuada velit eget dui vulputate varius. Nullam ultrices, ipsum in tempor maximus, urna sem congue lectus, at accumsan dui enim lobortis augue. Nam imperdiet laoreet enim nec pulvinar. Ut velit est, eleifend imperdiet orci nec, lobortis sodales ipsum. Quisque mi metus, gravida ut tortor aliquet, sagittis consectetur tortor. Donec luctus aliquam hendrerit. Aliquam id euismod tortor. Suspendisse tempor urna eget felis maximus, ut eleifend sem feugiat. Etiam posuere dui ligula, eu sodales <b>nisl</b> <u>efficitur</u> <s>dignissim</s>.</p>
      <ol>
        <li>OL</li>
        <li>Second</li>
        <li>Third</li>
      </ol>
      <ul>
        <li>UL</li>
        <li>Third</li>
        <li>Second</li>
      </ul>
      <p class="type--xxxl">XXXLarge</p>
      <p class="type--xxl">XXLarge</p>
      <p class="type--xl">XLarge</p>
      <p class="type--l">Large</p>
      <p class="type--m">Medium</p>
      <p class="type--p">Paragraph</p>
      <p class="type--s">Small</p>
      <p class="type--xs">XSmall</p>
      <p class="type--button">Button</p>
    </section>
  </section>
  <section class="page-pattern-library__section gutters">
    <h2 class="page-pattern-library__section-heading type--l margin-bottom--xl">
      🐁 Clickables
    </h2>
    <section class="page-pattern-library__subsection flex flex--no-padding container--m margin-bottom--xl">
      <h3 class="page-pattern-library__subsection-heading type--p col col--12 margin-bottom--s">
        Contained
      </h3>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--contained">Shop Now</button>
      </section>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--contained" disabled>Sold Out</button>
      </section>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center bg--black">
        <button class="clickable--contained clickable--contained--white">Shop Now</button>
      </section>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center bg--black">
        <button class="clickable--contained clickable--contained--white" disabled>Sold Out</button>
      </section>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--contained clickable--contained--primary">Shop Now</button>
      </section>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--contained clickable--contained--primary" disabled>Sold Out</button>
      </section>
    </section>
    <section class="page-pattern-library__subsection flex container--m margin-bottom--xl">
      <h3 class="page-pattern-library__subsection-heading type--p col col--12 margin-bottom--s">
        Uncontained
      </h3>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--uncontained">Learn More</button>
      </section>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--uncontained" disabled>Coming Soon</button>
      </section>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center bg--black">
        <button class="clickable--uncontained clickable--uncontained--white">Learn More</button>
      </section>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center bg--black">
        <button class="clickable--uncontained clickable--uncontained--white" disabled>Coming Soon</button>
      </section>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--uncontained clickable--uncontained--primary">Learn More</button>
      </section>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--uncontained clickable--uncontained--primary" disabled>Coming Soon</button>
      </section>
    </section>
    <section class="page-pattern-library__subsection flex container--m margin-bottom--xl">
      <h3 class="page-pattern-library__subsection-heading type--p col col--12 margin-bottom--s">
        Icon
      </h3>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--icon">{% render 'svg', name: 'heart' %}</button>
      </section>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--icon" disabled>{% render 'svg', name: 'heart' %}</button>
      </section>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center bg--black">
        <button class="clickable--icon clickable--icon--white">{% render 'svg', name: 'heart' %}</button>
      </section>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center bg--black">
        <button class="clickable--icon clickable--icon--white" disabled>{% render 'svg', name: 'heart' %}</button>
      </section>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--icon clickable--icon--primary">{% render 'svg', name: 'heart' %}</button>
      </section>
      <section class="page-pattern-library__block col col--12 col--6--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--icon clickable--icon--primary" disabled>{% render 'svg', name: 'heart' %}</button>
      </section>
    </section>
    <section class="page-pattern-library__subsection flex container--m margin-bottom--xl">
      <h3 class="page-pattern-library__subsection-heading type--p col col--12 margin-bottom--s">
        Swatch
      </h3>
      <section class="page-pattern-library__block col col--6 col--3--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--swatch" style="background-color: #DABCB8;"></button>
      </section>
      <section class="page-pattern-library__block col col--6 col--3--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--swatch" style="background-image: url('{{ 'swatch.jpg' | asset_img_url: '300x' }}');"></button>
      </section>
      <section class="page-pattern-library__block col col--6 col--3--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--swatch selected" style="background-color: #575938;"></button>
      </section>
      <section class="page-pattern-library__block col col--6 col--3--tblt padding-both--xl flex flex--justify-center flex--align-center">
        <button class="clickable--swatch selected" style="background-image: url('{{ 'swatch2.jpg' | asset_img_url: '300x' }}');"></button>
      </section>
    </section>
  </section>
  <section class="page-pattern-library__section gutters">
    <h2 class="page-pattern-library__section-heading type--l margin-bottom--xl">
      🎛 Inputs
    </h2>
  </section>
</div>