// your code here
.Collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /*fraction*/
  margin: 0 auto;
  overflow: hidden;
  width: 80%;

  .product_card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .product {
    display: flex;
    overflow: hidden;


    &:not(:first-child) .img_container {
      visibility: hidden;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
  }

  //.img_container {
  //  //display: flex;
  //  //flex-wrap: wrap;
  //  //overflow: hidden;
  //
  //
  //  .product_img {
  //    height: 309px;
  //    width: 249px;;
  //  }
  //}

  .product_img {
    height: 309px;
    width: 249px;
  }

  .details_container {
    max-width: 249px;
    text-align: center;
  }

  .product_title {
    font-size: 0.8rem;
    margin: 8px auto;
  }

  .price {
    margin-bottom: 8px;
  }

  .color_container {
    margin: 0 auto;
    width: 60%;
  }

  .color {
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #aaa;
    cursor: pointer;

    background-color: #0c0c0c;
    display: inline-block;
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 768px) { /*breakpoint*/
  .Collection {
    grid-template-columns: none;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.debug {
  border: 1px solid red;
}