// your code here
.Collection {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 50%;
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100%/3);
    flex: 1;
  }

  .product_card {
    margin-bottom: 16px;
    text-align: center;
    width: 249px;
  }

  .img_container {
    height: 309px;
    width: 249px;
    .product_img {
      justify-self: center;
      width: 100%;
    }
  }

  .details_container {
    max-width: 249px;
    text-align: center;
  }

  .product_title {
    font-size: 0.8rem;
    margin: 8px auto;
    width: 80%;
  }

  .price {
    margin-bottom: 8px;
  }

  .color_container {
    margin: 0 auto;
    width: 60%;
  }

  .color {
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    border: 2px solid #aaa;
    cursor: pointer;

    background-color: #0c0c0c;
    display: inline-block;
    height: 20px;
    width: 20px;
  }
}
