.password {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $color--black;

  &__logo {
    width: 130px;
    height: 200px;
    fill: $color--white;
  }

  &__form {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__error {
    width: 100%;
    padding: 10px;
    color: $color--white;
    text-align: center;
    background-color: $color--error;
    box-sizing: border-box;
  }

  input[type="password"] {
    height: 48px;
    padding: 18px 48px 18px 16px;
    color: $color--primary;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus {
      outline: dashed 2px $color--primary;
      outline-offset: 4px;
    }
  }

  &__button-wrap {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;

    &:hover {
      .arrow {
        transform: translateX(3px);
      }
    }

    input[type="submit"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .arrow {
      width: 75%;
      height: 75%;
      pointer-events: none;
      transition: transform $base-transition, fill $base-transition;
      fill: $color--primary;
    }
  } 
}