<header class="global-header bg--primary--lightest">
  <div id="promoBar" class="global-header__promo-bar bg--primary"></div>
  <nav class="global-header__nav">
    <a class="clickable--contained clickable--contained--primary" href="/"
      >Home</a
    >
    <a
      class="clickable--uncontained clickable--uncontained--primary"
      href="/products/short-sleeve-t-shirt"
      >Short-Sleeve T-Shirt</a
    >
    <a
      class="clickable--uncontained clickable--uncontained--primary"
      href="/products/crew-neck-long-sleeve-t-shirt"
      >Crew Neck Long-Sleeve T-Shirt</a
    >
    <a
      class="clickable--uncontained clickable--uncontained--primary"
      href="/products/slim-fit-jeans"
      >Slim-Fit Jeans</a
    >
    <a
      class="clickable--uncontained clickable--uncontained--primary"
      href="/products/chino-pants"
      >Chino Pants</a
    >
    <button
      class="clickable--contained clickable--contained--primary cart-toggle"
    >
      Toggle Cart
    </button>
  </nav>
</header>
